## Importing Libraries

In [1]:
import numpy as np
import pandas as pd

## Loading Dataset

In [26]:
dataset =  pd.read_csv("RestaurantReviews_FreshDump.tsv", delimiter = "\t")

In [10]:
dataset.head()

                                              Review
0                        Spend your money elsewhere.
1  Their regular toasted bread was equally satisf...
2  The Buffet at Bellagio was far from what I ant...
3                   And the drinks are WEAK, people!
4                         -My order was not correct.

## Dataset Cleaning

In [5]:
import re
import nltk

nltk.download("stopwords")

from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

all_stopwords = stopwords.words("english")
all_stopwords.remove("not")

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/ayushigupta/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [8]:
corpus = [] 
for i in range(0, 100):
    review =  re.sub("[^a-zA-Z]" , " ", dataset["Review"][i])
    review =  review.lower()
    review =  review.split()
    review =  [ps.stem(word) for word in review if not word in set(all_stopwords)]
    review =  " ".join(review)
    corpus.append(review)

## Data Tranformation

In [18]:
# converting cleaned dataset into bag of words representation
from sklearn.feature_extraction.text import CountVectorizer
import pickle
cvFile = "/Users/ayushigupta/Documents/Projects/dl_projects/New_Project/Bow_Sentimental_model.pkl"
cv = pickle.load(open(cvFile , "rb"))

In [19]:
X_fresh = cv.transform(corpus).toarray()
X_fresh.shape

(100, 1420)

## Loading classifier and Predicting Sentiment via classifier

In [27]:
import joblib
classifier = joblib.load("/Users/ayushigupta/Documents/Projects/dl_projects/New_Project/Sentiment_Analysis_model")

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [23]:
y_fresh = classifier.predict(X_fresh)
print(y_fresh)

[0 1 1 0 0 1 0 0 0 1 1 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 1 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 1 1 0
 0 1 0 0 0 0 1 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0]

In [24]:
dataset["Predicted_label"] = y_fresh.tolist()
dataset.head()

                                              Review  Predicted_label
0                        Spend your money elsewhere.                0
1  Their regular toasted bread was equally satisf...                1
2  The Buffet at Bellagio was far from what I ant...                1
3                   And the drinks are WEAK, people!                0
4                         -My order was not correct.                0

In [25]:
dataset.to_csv("/Users/ayushigupta/Documents/Projects/dl_projects/New_Project/Predicted_sentiments_FreshDump.tsv", sep = "\t", encoding = "UTF-8" ,index =False)